@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
    --color-primary: #0a0d2a;
    --color-accent: #34cd3c;
    --color-charcoal: #1e1e1e;
    --color-onyx: #0f0f0f;
    --font-sans: "Poppins", sans-serif;
    --font-display: "Bungee", sans-serif;
}
