---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Coming Soon!">
    <div
        class="flex h-screen flex-col items-center justify-center bg-cn-primary text-white"
    >
        <h1 class="text-6xl font-bold">
            Welcome to the new Code Network website!
        </h1>
        <h2 class="text-4xl font-medium text-cn-accent">
            Exciting stuff is coming... stay tuned!
        </h2>
    </div>
</Layout>
