---
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Coming Soon!">
    <div class="border-2 border-cn-accent bg-cn-primary p-4 text-white">
        HERO SECTION
    </div>
    <div class="border-2 border-cn-accent bg-cn-primary p-4 text-white">
        WELCOME SECTION
    </div>
    <div class="border-2 border-cn-accent bg-cn-primary p-4 text-white">
        EVENTS SECTION
    </div>
    <div class="border-2 border-cn-accent bg-cn-primary p-4 text-white">
        SPONSORS SECTION
    </div>
</Layout>
