---
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Coming Soon!">
    <div class="border-2 border-accent bg-primary p-4 font-display text-white">
        HERO SECTION
    </div>
    <div class="my-4 text-white">
        <div class="container mx-auto">
            <span class="rounded bg-accent px-6 py-1 font-display text-2xl"
                >WELCOME TO CODE NETWORK!</span
            >
            <div class="mt-3 flex flex-col gap-2 rounded bg-charcoal px-6 py-4">
                <p>
                    Where students come together to learn, create, and innovate.
                    Whether you're looking to sharpen your coding skills,
                    collaborate on exciting projects, or simply connect with
                    passionate tech enthusiasts, you've found the right place.
                </p>
                <p>
                    Join our community of learners, builders, and thinkers as we
                    host hands-on workshops, hackathons, and industry-sponsored
                    events designed to push your abilities and ignite your
                    creativity. Code Network is your platform to build awesome
                    projects, solve real-world problems, and gain invaluable
                    experience in the tech world.
                </p>
                <p>
                    Ready to take the next step in your coding journey? Let's
                    build something great together.
                </p>
            </div>
        </div>
    </div>
    <div class="border-2 border-accent bg-primary p-4 text-white">
        EVENTS SECTION
    </div>
    <div class="border-2 border-accent bg-primary p-4 text-white">
        SPONSORS SECTION
    </div>
</Layout>
