<div class="flex flex-row border-t border-white bg-onyx p-3 text-white gap-6 md:px-12">
    <div class="flex flex-col">
        <p class="font-bold text-accent">Navigate</p>
        <p>About us</p>
        <p>Events</p>
        <p>Projects</p>
        <p>Blog</p>
    </div>
    <div class="flex flex-col">
        <p class="font-bold text-accent">Contact Us</p>
        <p>hello@codenetwork.co</p>
        <p>QUT Gardens Point, Brisbane City</p>
    </div>
</div>
