---
const logoSrc = '/public/logo.png';
---

<div class="hero flex flex-col items-center justify-center text-center p-8 text-white">
    <img src={logoSrc} alt="Logo" class="max-w-xs mb-4" />
    <div class="w-full max-w-xs h-1 --color-primary my-4"></div>
    <p class="text-xl bg-gray-800 p-2 rounded border-2 border-green-500 font-sans">
      Build <span class="text-green-500 ">anything</span>, as long as it's <span class="text-green-500">awesome</span>
    </p>
  </div>