---
const logoSrc = '/public/hero.svg';
---

<div class="hero flex flex-col items-center justify-center text-center p-8">
    <img src={logoSrc} alt="Logo" class="w-32 sm:w-48 md:w-64 lg:w-80 xl:w-[40rem] max-w-full mb-4" />

</div>