---
import { Icon } from "astro-icon/components"

export interface Props {
    title: string
    links?: {
        title: string
        path: string
    }[]
}

const { title, links } = Astro.props
---

<div class="relative">
    <button type="button" class="dropdown-toggle py-2 px-4 hover:underline inline-flex items-center gap-2 w-full group text-lg">
        <span class="pointer-events-none select-none flex items-center gap-x-2">{ title }</span>
        <span class="group-focus:rotate-180 transition duration-300"><Icon name="tabler:chevron-down" /></span>
    </button>
    <div class="dropdown-menu hidden md:bg-base-200 md:absolute md:w-48 w-full md:shadow md:right-0 md:top-16 gap-y-4 md:gap-y-0 border-white border rounded-xl">
        {
            (links || []).map(link => {
                return(
                    <a data-navlink href={ link.path } class="px-4 py-2 hover:underline flex gap-x-4 items-center">
                        { link.title }
                    </a>
                )
            })
        }
    </div>
</div>